@import '../../../styles/variables.scss';

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.changingTexts,
.cursor {
  font-size: 2.5em;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $blue;
}

.cursor {
  // font-family: Arial, 'sans-serif';
  animation: blinking 1s infinite;
}

.changingTexts {
  // font-family: 'Poppins', Roboto, sans-serif;
  position: relative;
  z-index: 1;
}

@media (min-width: 1025px) {
  .changingTexts,
  .cursor {
    font-size: 7rem;
  }

  .changingTexts {
    &:after {
      bottom: 0.9rem;
    }
  }
}
