.avatarWrapper {
  position: relative;
  height: 700px;
  .avatar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 100%;
  }
  .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    &:hover {
      opacity: 0.8;
    }
  }
  .crown {
    z-index: 99999;
    position: absolute;
    right: -120px;
    top: 20%;
    transition: 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
