.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 400px;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  background: url("../../../public/hero.jpg") center center;
  object-fit: contain;
}
